<div class="login-wrapper">
  <form #loginForm="ngForm" class="login" (ngSubmit)="signIn()">
    <label class="title">
      <h3 class="welcome">Welcome to</h3>
      Izimani Corporation
      <h5 class="hint">Use your credentials provided by administrator to sign in</h5>
    </label>

    <div class="login-group">
      <input [(ngModel)]="login" class="username" type="text" name="login" id="login_username" placeholder="Passport number">
      <input [(ngModel)]="password" class="password" type="password" name="pass" id="login_password" placeholder="Password">

      <div *ngIf="isErrorHappen" class="error active">
        Invalid user name or password
      </div>

      <button type="submit" class="btn btn-primary">NEXT</button>
      <div *ngIf="isLoading" class="progress loop"><progress></progress></div>
    </div>
  </form>
</div>
