.currency_calculator {
  margin-top: 1rem;
}

.currency_select {
  margin-top: 0.5rem;
}

.currency_result {
  margin-top: 0.5rem;
}

.currency_switch {
  margin-left: 0.5rem;
  margin-right: 0.3rem;
  cursor: pointer;
}
