<header class="header-6">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <img src="/favicon.png" class="logo-icon">
      <span class="title">Izimani</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="/" clrDropdownItem>About</a>
        <a href="/" clrDropdownItem>Preferences</a>
        <a (click)="logout.emit()" clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="/" clrDropdownItem>About</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
